@{
    ViewBag.Title = "Home Page";
}
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="site.css">
<div class="jumbotron">
    <h1>
        <span style="color:black;">TurboRango</span>
    </h1>

    <p class="lead fonteTitulo">Decida onde comer</p>
   <br />
    <p>@Html.ActionLink("Começar »", "Index", "Sorteios", null, new { @class = "btn btn-primary btn-lg buttonColor"})</p>

</div>