@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TurboRango</h1>
    <p class="lead">Decida onde comer</p>
    <p><a href="http://google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>